//-
  This site is built with the Harp static generator.
  Refer to www.harpjs.com for more info/docs.


.jumbotron
  img.logo-main(src="/images/logo.svg" alt="")
  .container


.container.text-center
  .row
    .col-sm-2
    .col-sm-8
      h1 We build technology companies
      hr
      p
        | Baobab Logic is an organization which brings together investors, entrepreneurs, developers, engineers and designers to build great products.
        | We are always looking for exciting startups building innovative products to join or partner with.
        | We are specifically interested in African startups solving problems in the payments, travel or education industries but are open to any companies with interesting products.
  .row
    .col-sm-4.border-box.semi-transparent
      h1 Resources
      .circle-link
        div.circle
          i.fa.fa-users.icon-homepage
      h4 Do you need developers, engineers and designers to help you build your product? Let us connect you with the right people.

    .col-sm-4.border-box.semi-transparent
      h1 Partnership
      .circle-link
        div.circle
          i.fa.fa-rocket.icon-homepage
      h4 Are you looking for companies to build products on your new API? Do you need a partner to help develop your idea? Speak to us.

    .col-sm-4.border-box.semi-transparent
      h1 Investment
      .circle-link
        div.circle
          i.fa.fa-line-chart.icon-homepage
      h4 Have you got a product and just need to reach users or a great idea and just need to hire more resources? Send us your investment deck.

.separator-main
  .container.text-center
    h1 Let's talk!
    h4 If you are involved in building an innovative product and are looking for a partner send us an email at:
    h3 info@baobablogic.com

.container
  .row.text-center
    .col-sm-2
    .col-sm-8
      h2 We're currently based in Stellenbosch.
      hr

#map
